<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyZone</title>
  <link rel="stylesheet" href="/layui/css/login.css">
  <link rel="stylesheet" href="/layui/css/layui.css">

  <script src="/layui/js/jquery-3.4.1.min.js"></script>
  <script src="/layui/layui.js"></script>

</head>
<body>
<div class="box1">
  <h1>登录</h1>
  <form action="/signin" method="post">
    <div class="inputbox">
      <input type="text" required="" id="email" name="email">
      <label>邮箱</label>
    </div>
    <div class="inputbox">
      <input type="password" required="" id="password" name="password">
      <label>密码</label>
    </div>
    <div th:if="${errormsg != null}">
      <p3 th:text="${errormsg}" style="color: red"></p3>
    </div>
    <input type="submit" value="登录" style="float: right">
  </form>
  <div style="padding-top: 20px">
    <p5 style="color: aliceblue;">还没有账号？</p5>
    <a href="register" style="color:dodgerblue;">创建一个</a>
  </div>
</div>
</body>
</html>
