<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/layui/css/userdetails.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/mycss.css">
  <script src="/layui/js/jquery-3.4.1.min.js"></script>
  <script src="/layui/layui.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/js/details.js"></script>


</head>
<body>
<div th:insert="bar::bar"></div>
<div class="layui-container">
  常规布局（以中型屏幕桌面为例）：
  <div class="layui-row">
    <div class="layui-col-md3">
      你的内容 3/12
    </div>
    <div class="layui-col-md9">
      <h3>
        <strong style="font-size: 22px;">个人资料</strong>
      </h3>
      <hr class="layui-col-md9">
      <div class="header layui-col-md9">
<!--        <input type="hidden" id="picPath" value="${user.picPath}" />-->
        <img th:src="${userDetail.getHeadPic()}" class="head"><br/>
        <h3 class="modify">修改头像</h3>
      </div>
      <div class="layui-col-md9 right_c">
        <ul class="self">
          <li>昵称：<span th:text="${userDetail.getNickName()}"></span></li>
          <li>实名：<span th:text="${userDetail.getName()}"></span></li>
          <li>性别：<span th:text="${userDetail.getSex()}"></span></li>
          <li>生日：<span th:text="${userDetail.getBirth()}"></span></li>
          <li>邮箱：<span  th:text="${userDetail.getEmail()}"></span></li>
          <li>
            <span>简介：<span th:text="${userDetail.getResume()}"></span></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-left: 550px; margin-top: 30px">
  修改信息
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">个人资料</h4>
      </div>
      <form id="form">
        <div class="modal-body">
          <div><span>昵称: </span><input  th:value="${userDetail.getNickName()}" id="nickName" name="nickName"><br/></div>
          <div><span>实名: </span><input  th:value="${userDetail.getName()}" id="name" name="name"><br/></div>
          <div><span>性别: </span><input  th:value="${userDetail.getSex()}" id="sex" name="sex"><br/></div>
          <div><span>生日: </span><input  th:value="${userDetail.getBirth()}" id="birth" name="birth"><br/></div>
          <div><span>邮箱: </span><input  th:value="${userDetail.getEmail()}" id="email" name="email"><br/></div>
          <div><span>简介: </span><input  th:value="${userDetail.getResume()}" id="resume" name="resume"><br/></div>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="submit">保存修改</button>
      </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>